section{
    border: 2px solid black;
    background-color: aqua;
    margin-top: 20px;
}
section div{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
section div:hover{
    background-image: linear-gradient(white 85%,black);
    font-size: large;
    border-right: 3px solid black;
    border-left: 3px solid black;      
}
nav li{
    display: inline-block;
    border: 1px solid black;
    padding: 1px;
    padding-top:2px;
    padding-bottom:2px;
    background-color:lightgray;  
    border-radius: 5px;  
}
 header nav{
    border: 2px solid black;
}
nav li:hover{
    font-size: large;   
}
 header nav :visited{
    color:blue;  
}
header nav :active{
    color: green;
}
nav ul{
    text-align:end ;
}
#Navigate{
    border: 2px solid black;
    height: 12vh;
    max-width: fit-content;
    padding:3px;
    border-radius: 10px;
    background-color: aqua;
    
}
.logo{
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;  
    display: inline-block;
}
#Profile{
    background-color: orangered;
    position: absolute;
    top: 10px;
    left:10px;
    height: 35px;
    width: 35px;
}

#Gitlink{
    background-color:violet;
    
}

#Linkedin{
    background-color: greenyellow;
}

#Navigate div:hover{
    background-color: darkmagenta;
    font-size: large;
    cursor:-webkit-grabbing;
}
