#Navigation li{
    display:inline-block;
    border:1.5px solid red;
    padding: 2px;
    border-radius: 10px;
    background-color:lightgoldenrodyellow;
}
#Navigation{
    border: 2px solid red;
    border-radius:10px;
    padding:2px;
    background-color:darkturquoise;
    border-left-width: 5px;
    border-top-width: 5px;
    border-right-style:hidden;
    border-bottom-style:hidden;
    
}   
.big{
    background-color: chocolate;
    grid-area:head;
}
.child1{
    background-color: skyblue;
    grid-area:lefts;
}
.child2{
    background-color: teal;
    grid-area: rights;
}
.parent{
    margin: 10px;
    padding: 5px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px 75px 75px;
    

}
@media only screen and (max-width:1200px){
   .parent{ grid-template-areas:
    "head head"
    "lefts rights" ; 
   }
}
@media only screen and (max-width:800px){
    .parent{ grid-template-areas:
     "head lefts"
     "head rights" ; 
    }
 }
 @media only screen and (max-width:400px){
    .parent{ grid-template-areas:
     "head head"
     "lefts lefts"
     "rights rigths" ; 
    }
 }